// Mixins
@mixin my-display-flex ($direction, $x, $y) {
	display: flex;
	flex-direction: $direction;
	justify-content: $x;
	align-items: $y;
}
@mixin my-display-absolute ($top, $right, $bottom, $left) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
